@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #cfa751;
  --primary-color-2: #c9aa67;
  --primary-color-3: #bb9137;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-roboto: var(--font-roboto);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto);
}

#hero {
  background-image: url('/hero-bg.jpg');
  background-size: cover;
  background-position: center;
}
.btn{
  background: linear-gradient(to right, #cfa751, #c9aa67);
}
.btn:hover{
  background: linear-gradient(to right, #c9aa67, #cfa751);
}
.hover-svg:hover svg{
  fill: #0a0a0a;
}
.secspan::after{
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 4px;
  background-color: var(--primary-color);
}

.journey-div p{
  opacity: 50%;
}
.journey-div:hover p{
  opacity: 100%;
  transition: all 0.2s ease;
}
.journey-div:hover .span-ball{
  background-color: var(--primary-color);
}
.span-ball{
  opacity: 100%;
  z-index: 10;
  background-color: #979797;
  transition: all 0.2s ease;
}